<nav class="navbar navbar-expand-md navbar-dark fixed-top nav-main" role="navigation">
    <img>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active item-box">
                <a class="nav-link" (click)="onClickScroll('home')">Inicio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item item-box">
                <a class="nav-link" (click)="onClickScroll('productos')">Productos</a>
            </li>
            <li class="nav-item item-box">
                <div class="nav-link" (click)="onClickScroll('nosotros')">Nosotros</div>
            </li>
            <li class=" nav-item item-box">
                <a class="nav-link " (click)="onClickScroll('contacto')">Contacto</a>
            </li>
            <li class="nav-item dropdown item-box">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Solicitar Precios
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                    <a class="dropdown-item item-box" [routerLink]="['/lista-precios']">Soy Empresa</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item item-box" [routerLink]="['/lista-precios']">Soy Minorista</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 ">
            <input class="form-control mr-sm-2 " type="search" placeholder="Buscar " aria-label="Search ">
            <button class="btn btn-info my-2 my-sm-0 " type="submit ">Buscar</button>
        </form>
    </div>
</nav>