<section name="nosotros" id="nosotros"></section>
<div id="nosotros-main">
    <div class="nos-head">
        <h1>Nosotros</h1>
    </div>
    <div class="parrafo-box">
        <section class="parrafo">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam massa non lectus maximus, ut convallis nisi fringilla. Cras et dictum risus, sit amet ullamcorper justo. Nam augue purus, hendrerit sed accumsan eget, tristique non augue. In rutrum
            vulputate turpis eget consequat. Fusce ut eros id nibh venenatis vulputate. Nullam eu dui nisi. Integer dapibus egestas augue, blandit mollis mauris blandit at. Duis rhoncus turpis vel quam congue rutrum. Etiam ornare fermentum magna, non
            aliquet nisl gravida et. Ut eget accumsan massa. Cras vehicula arcu ac nisi dapibus placerat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus mollis lorem vitae justo facilisis, in venenatis
            ligula lobortis. Duis a sapien vel ex efficitur posuere. Mauris at sem vitae lorem placerat convallis. Suspendisse tincidunt mi nec eleifend facilisis.
        </section>
    </div>
    <div class="linea-tiempo">
        <div class="f-year">
            <h1>2003</h1>
        </div>
        <div class="dot"></div>
        <div class="line"></div>
        <div class="dot"></div>
        <div class="l-year">
            <h1>2020</h1>
        </div>
    </div>
</div>